.project_main{
  position:relative;
}
.marquee {
    display: inline-flex;
  }
  .marquee h1 {
    font-size: 13vw;
    white-space: nowrap;
    background: linear-gradient(90deg, #ff7eb3, #ff758c, #a4ffac, #73b6ff);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.project{
    display: flex;
    position: relative;
    top: 20px;
    right: 270px;
    justify-content: center;
    align-items: center;
}
  .project img{
    object-fit: contain;
    height: 500px;
    width: 600px;
    z-index: 2;
  }
  .project p{
    position: relative;
    right: 50px;
    bottom: 60px;
    transform: rotate(270deg);
  }

  .description{
    font-size: 3.5vh;
    white-space: wrap;
    position: relative;
    left: 600px;
    bottom: 60px;
    width: 300px;
  }

  .bg-services2{
    position:absolute;
    top: 500px;
    width: 100%;
}