.about_main {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee {
  display: inline-flex;
}
.marquee h2 {
  color: transparent; /* Makes the text transparent */
  -webkit-background-clip: text; /* Clips the background to the text */
  background-clip: text;
    background-image: linear-gradient(135deg, #ff0040, #ff99cc);
  font-size: 13vw;
  white-space: nowrap;
}


.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* top: 100px;
    left: 650px; */
    margin-left: 80px;
    height: 500px;
    width: 80vw;
    gap: 200px;
}

.intro h3{
    line-height: 2;
    white-space:wrap;
    font-weight: 400;
    z-index: 2;
}
.intro img{
    height: 350px;
    width: 350px;
    border-radius: 25px;
}

.bg-services{
  position: absolute;
  top: 600px;
  left: 1000px;
  
}