:root {
    --maxgreenyellow: #cde052; /* Declare the custom property */
  }
  



body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    
    background-color: rgb(19, 22, 24);


    cursor: none;


}

.background{
    position:absolute;
    top: 550px;
    width: 100%;
}

.background2{
    position:absolute;
    top: 270px;
    left: 70%;
}

